In [2]:
1+1

2

In [1]:
import pandas as pd

In [3]:
pd.read_pickle('inter_res_save_exog.pickle')

,time_serie,product_labels,error,aic,pdq,pdqm
0,bookings,0,10.500166,6976.969645,"(0, 0, 0)","(0, 0, 0, 3)"
1,bookings,1,10.404230,6643.494152,"(0, 0, 0)","(0, 0, 0, 3)"
2,bookings,2,17.665344,7783.063722,"(0, 0, 0)","(0, 0, 0, 3)"
3,sessions,0,255.822515,5009.943053,"(0, 0, 0)","(0, 0, 0, 3)"
4,sessions,1,209.004100,4843.317376,"(0, 0, 0)","(0, 0, 0, 3)"
5,sessions,2,274.329607,5039.935557,"(0, 0, 0)","(0, 0, 0, 3)"
6,bookings,0,11.869265,5934.991216,"(0, 0, 0)","(1, 0, 0, 3)"
7,bookings,1,10.960990,5921.524896,"(0, 0, 0)","(1, 0, 0, 3)"
8,bookings,2,19.477635,6539.934249,"(0, 0, 0)","(1, 0, 0, 3)"
9,sessions,0,294.724676,4837.351332,"(0, 0, 0)","(1, 0, 0, 3)"
10,sessions,1,207.594709,4808.217881,"(0, 0, 0)","(1, 0, 0, 3)"
11,sessions,2,291.486192,4936.559874,"(0, 0, 0)","(1, 0, 0, 3)"
12,bookings,0,9.693528,6038.086413,"(0, 0, 0)","(0, 1, 0, 3)"
13,bookings,1,10.649078,6069.036643,"(0, 0, 0)","(0, 1, 0, 3)"
14,bookings,2,11.904704,6560.101422,"(0, 0, 0)","(0, 1, 0, 3)"
15,sessions,0,290.331514,4883.372097,"(0, 0, 0)","(0, 1, 0, 3)"
16,sessions,1,271.878894,4964.965970,"(0, 0, 0)","(0, 1, 0, 3)"
17,sessions,2,294.011385,5009.698835,"(0, 0, 0)","(0, 1, 0, 3)"
18,bookings,0,9.575213,5977.897281,"(0, 0, 0)","(1, 1, 0, 3)"
19,bookings,1,11.249412,5442.408932,"(0, 0, 0)","(1, 1, 0, 3)"
20,bookings,2,12.854073,6327.899236,"(0, 0, 0)","(1, 1, 0, 3)"
21,sessions,0,282.806104,4855.436964,"(0, 0, 0)","(1, 1, 0, 3)"
22,sessions,1,287.634766,4772.198512,"(0, 0, 0)","(1, 1, 0, 3)"
23,sessions,2,294.682026,4945.102288,"(0, 0, 0)","(1, 1, 0, 3)"
24,bookings,0,10.660965,6445.180878,"(0, 0, 0)","(0, 0, 1, 3)"
25,bookings,1,10.444591,6318.299653,"(0, 0, 0)","(0, 0, 1, 3)"
26,bookings,2,17.858100,7160.788161,"(0, 0, 0)","(0, 0, 1, 3)"
27,sessions,0,265.259662,4899.268494,"(0, 0, 0)","(0, 0, 1, 3)"
28,sessions,1,208.116109,4797.436523,"(0, 0, 0)","(0, 0, 1, 3)"
29,sessions,2,275.052596,4952.661998,"(0, 0, 0)","(0, 0, 1, 3)"
...,...,...,...,...,...,...
108,bookings,0,10.261690,7058.316223,"(0, 0, 0)","(0, 1, 0, 31)"
109,bookings,1,9.228945,6427.348749,"(0, 0, 0)","(0, 1, 0, 31)"
110,bookings,2,14.868020,6930.470191,"(0, 0, 0)","(0, 1, 0, 31)"
111,sessions,0,315.457811,4794.652565,"(0, 0, 0)","(0, 1, 0, 31)"
112,sessions,1,236.606357,4645.504015,"(0, 0, 0)","(0, 1, 0, 31)"
113,sessions,2,320.067302,4745.467704,"(0, 0, 0)","(0, 1, 0, 31)"
114,bookings,0,9.758420,6547.356463,"(0, 0, 0)","(1, 1, 0, 31)"
115,bookings,1,8.692013,5694.310851,"(0, 0, 0)","(1, 1, 0, 31)"
116,bookings,2,14.134256,6522.019466,"(0, 0, 0)","(1, 1, 0, 31)"
117,sessions,0,308.287486,4256.352392,"(0, 0, 0)","(1, 1, 0, 31)"
118,sessions,1,217.181472,4056.583395,"(0, 0, 0)","(1, 1, 0, 31)"
119,sessions,2,322.716565,4238.965499,"(0, 0, 0)","(1, 1, 0, 31)"
120,bookings,0,10.572028,6722.904861,"(0, 0, 0)","(0, 0, 1, 31)"
121,bookings,1,10.343015,6351.641675,"(0, 0, 0)","(0, 0, 1, 31)"
122,bookings,2,17.461101,7231.708187,"(0, 0, 0)","(0, 0, 1, 31)"
123,sessions,0,255.009578,4600.387894,"(0, 0, 0)","(0, 0, 1, 31)"
124,sessions,1,209.263336,4435.283695,"(0, 0, 0)","(0, 0, 1, 31)"
125,sessions,2,273.507274,4602.315858,"(0, 0, 0)","(0, 0, 1, 31)"
126,bookings,0,8.413001,6509.874113,"(0, 0, 0)","(1, 0, 1, 31)"
127,bookings,1,7.665710,5808.996292,"(0, 0, 0)","(1, 0, 1, 31)"
128,bookings,2,11.954372,6548.695047,"(0, 0, 0)","(1, 0, 1, 31)"
129,sessions,0,255.016207,4587.600923,"(0, 0, 0)","(1, 0, 1, 31)"
130,sessions,1,206.113463,4424.312947,"(0, 0, 0)","(1, 0, 1, 31)"
131,sessions,2,272.533324,4585.997038,"(0, 0, 0)","(1, 0, 1, 31)"
132,bookings,0,9.471655,6438.060694,"(0, 0, 0)","(0, 1, 1, 31)"
133,bookings,1,8.679193,5780.263096,"(0, 0, 0)","(0, 1, 1, 31)"
134,bookings,2,14.033440,6518.689179,"(0, 0, 0)","(0, 1, 1, 31)"
135,sessions,0,274.607940,4174.406367,"(0, 0, 0)","(0, 1, 1, 31)"
136,sessions,1,226.201119,4031.613155,"(0, 0, 0)","(0, 1, 1, 31)"
137,sessions,2,308.531249,4171.100633,"(0, 0, 0)","(0, 1, 1, 31)"